body {
  margin-top:50px;
	margin-left:150px; 
  margin-right:150px;
  background: black;
  /* margin: 0; */
  /*--nav-load-time: 300ms;*/
  --nav-load-time: 300ms;
  --nav-link-load-time: 600ms;
  --article-load-delay: calc(var(--nav-load-time) + var(--nav-link-load-time))
}

nav {
  background-color: rgb(43, 0, 92);
  color: white;
  animation: nav-load var(--nav-load-time) ease-in;
}

nav ul {
  margin: 0;
  display: flex;
  justify-content: center;
}
nav li {
  list-style: none;
  padding: 18px;
  margin: 0 10px;
  animation-name: nav-link-load;
  animation-duration: var(--nav-link-load-time);
  animation-timing-function: ease-in;
  animation-delay: var(--nav-load-time);
  animation-fill-mode: forwards;
  transform: scale(0);
  
}

nav li:first-child {
  animation-name: nav-first-link-load;
  transform: translateX(-1000%);
}

nav li:last-child {
  animation-name: nav-last-link-load;
  transform: translateX(1000%);
}

nav li:hover {
  background-color: #00000044;
}

nav a {
  color: inherit;
  text-decoration: none;
  font-size: large;
  /* font-family: 'Courier New', Courier, monospace; */
  font-weight: bold;
  font-size: 30px;
}

main {
  padding: 10px;
}

h1 {
  animation: article-load 300ms ease-in var(--article-load-delay);
  animation-fill-mode: forwards;
  transform: translateY(-20px);
  opacity: 0;
}

p {
  animation: article-load 300ms ease-in calc(var(--article-load-delay) + 200ms);
  animation-fill-mode: forwards;
  transform: translateY(-20px);
  opacity: 0;
}

@keyframes nav-load {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes nav-link-load {
  0% {
    transform: scale(0);
  }

  90% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes nav-first-link-load {
  0% {
    transform: translateX(-1000%);
  }

  90% {
    transform: translateX(50%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes nav-last-link-load {
  0% {
    transform: translateX(1000%);
  }

  90% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes article-load {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}